{{> head }}

{{> navbar }}

<div class="col-8">
     <h1>Logo Node JS</h1>
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero corporis recusandae, quas dolores soluta accusamus porro repellat voluptas, nulla pariatur cum tempora iste, cupiditate nobis reprehenderit aperiam. Voluptatem, perspiciatis aliquid!</p>
</div>

<div class="col-4">
     <img   src="assets/img/node-logo.jpg" class="img-thumbnail">  
</div>



{{> footer}}